@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin-bottom: 0;
    font-weight: 500;
    color: #12304a;
    line-height: 1.8;
}
header{
    background-size: contain;
    background: #37517E;
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-position: right center;
}
header img{
    width: 150px;
}
.blue{
    background-color: #47B2E4;
    color: #fff;
}

.banner-container{
    padding: 150px 0;
}
.banner-container p{
    color: #fff;
}
header h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.6;
}
header span{
 color: #47b2e4;   
}
header p{
    line-height: 1.7;
    font-weight: 600;
    margin: 30px 0;
}
header.btn{
    font-weight: 500;
}

header a.btn{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
header a.btn i{
    
font-size: 40px;
    
color: #47b2e4;
}

header.btn hover{
    box-shadow: 0 0.0.0 rgba(0, 0, 0, 0.0) !important;
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #09a1e8;
}

.features-section{
    padding: 100px 0;
}
.feature{
    padding: 40px 20px;
}
.feature-padding{
     padding: 0 20px;
}
.feature > i{
    font-size: 40px;
    color: #47b2e4;
}
.feature h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.feature h1 span{
  color: #47b2e4;  
}
.feature h2{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    color: #12304a;
}
.feature p{
    margin-bottom: 0;
    font-weight: 500;
    color: #12304a;
    line-height: 1.8;
    }
.feature a{
    color: #47b2e4;
    font-weight: 600;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    display: flex;
    align-items: center;
}
.feature a i{
    font-size: 30px;
    margin-left: 10px;
    transition: all 0.3s ease;
}
.feature a:hover i{
    margin-left: 20px;
}
.feature.shadow-sm {
    box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075) !important;
    margin-bottom: 30px;
    background: #fff;
    margin-right: 15px;
}
.about-section{
    background-color: #EAF5FC;
    padding: 100px 0;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center left;
}
.about-section h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.about-section span{
 color: #47b2e4;   
}
.about-section p{
    margin-bottom: 30px;
}
.about-section a{
    padding: 16px 0;
}
.question-section{
    padding: 100px 0;
}
.question-section h1{
     font-size: 31px;
     font-weight: 700;
     line-height: 1.7;
     color: #12304a;
     margin-bottom: 30px;
}
.question-section h1 span{

color: #47b2e4;
}
.question-section ul{}
.question-section ul li{
    margin-bottom: 18px;
    margin-top: 18px;
    line-height: 1.8;
    font-weight: 600;
    color: #12304a;
    cursor: pointer;
}
.question-section ul li[aria-expanded="false"] i{
    
}
.question-section ul li[aria-expanded="true"] i{
    transform: rotate(90deg);
}

.question-section ul li i{
    background: #12304a;
    color: #fff;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 0.3s ease;
}


.large-range-section{
    background-color: #EAF5FC;
    padding: 100px 0;
}
.large-range-section.feature{}
.heading{
    text-align: center;
    padding-bottom: 100px;
}
.heading h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.7;
    color: #12304a;
    margin-bottom: 30px;
}
.heading span{
   color: #47b2e4;  
}
.heading p{
    max-width: 510px;
    margin: auto;
    line-height: 1.9;
}
.solution-section{
    background: #37517E;
    padding: 100px 0;
}

.solution-section .heading h1{
    color: #fff;
}
.solution-section .heading span{
  color: #47b2e4;  
}
.solution-section .heading p{
    color: #fff;
}
.solution-section a{}
.solution-section a i{
    font-size: 40px;
    color: #47b2e4;
}
.solution-section a{}
.solution-section .heading{
    padding-bottom: 0;
}
.members-section{
    background-color: #EAF5FC;
    padding: 100px 0;
}
.members-section h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.members-section span{
    
color: #47b2e4;
}
.members-section p{}
.members-section ul{
    margin: 30px 0;
}
.members-section ul li{
}
.members-section ul li h3{
    font-size: 20px;
    font-weight: 600;
    color: #12304a;
    margin-bottom: 30px;
}
.members-section ul li h4{
    font-size: 40px;
    font-weight: 800;
    margin: 30px 0;
    color: #12304a;
}
.members-section ul li:last-child{
    
border-left: 1px solid #00000036;
    
margin-left: 20px;
    
padding-left: 20px;
}

.members-section a{
    border: 2px solid #47b2e4;
    color: #47b2e4;
}
.members-section a i{}
.pricing-tabel-section{
    padding: 100px 0;
}
.heading h1{}
.heading span{}
.heading p{}



.price-heading{
    padding: 60px 30px;
    transition: all 0.3s linear;
     border-top: 2px solid transparent;
}
.price-heading h5{
    font-size: 20px;
    font-weight: 600;
}
.price-heading h1{
    font-size: 60px;
    font-weight: 600;
}
.price-heading h1 span{
    font-size: 35px;
    font-weight: 500;
}
.price-heading strong{
    color: #47b2e4;
}
.price-tabel{
    box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075) !important;
    color: #12304A;
    border-radius: 15px;
    transition: all 0.3s linear;
}
.price-tabel ul{
    padding: 0;
}
.price-tabel ul li{
    border-bottom: 1px solid #1413135e;
    padding: 10px 30px;
    color: #12304a9e;
}
.price-tabel ul li i{
    color: green;
    font-weight: 600;
    font-size: 20px;
    margin-right: 18px;
}
.order-now{
    padding: 60px 30px;
    transition: all 0.3s linear;
}
.order-now button{
    border: 1px solid #47b2e4;
    color: #47B2E5;
    padding-top: 12px;
    padding-bottom: 12px;
}
.price-tabel.active{
    border-top: 2px solid #47B2E5;
}
.price-tabel.active .price-heading {
    padding-top: 80px;
}
.price-tabel.active .order-now{
    padding-bottom: 70px;
}
.price-tabel:hover{
    border-top: 2px solid #47B2E5;
}
.price-tabel:hover .price-heading {
    padding-top: 80px;
}
.price-tabel:hover .order-now{
    padding-bottom: 70px;
}

.subscription-section{
    padding: 100px 0;
    background-color: #EAF5FC;
}
.subscription-section input[type="text"]{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 5px !important;
}
.subscription-section button{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 5px !important;
}
.subscription-section label{
    font-weight: 600;
    margin-bottom: 10px;
}
.subscription-section .form-check label{
    font-size: 14px;
    font-weight: 400;
}
.subscription-section .heading{

padding-bottom: 0;
}

.subscription-section .heading h1 {
    margin-bottom: 10px;
}
footer{
    padding: 100px 0;
    background: #37517E;
}
.social-link{
    justify-content: flex-end;
}
.social-link li{}
.social-link li a{
    color: #fff;
    text-decoration: none;
    margin-left: 0px;
    height: 40px;
    width: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
}
.social-link li:first-child a{
    background-color: #3B5998;
}
.social-link li:nth-child(2) a{
    background-color: #3B8ACA;
}
.social-link li:nth-child(3) a{
    background-color: #0077B5;
}
.social-link li:nth-child(4) a{
    background-color: #CC181E;
}
.social-link li:last-child a{
    background: #464646;
}

.social-link li a:hover{}
footer .support{
}
.support h3{
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
}
.support ul{
    color: #fff;
}
.support ul li{
    font-size: 15px;
    font-weight: 600;
    padding: 12px 0;
    color: #ffffffa3;
}
.support .follow{}
.support.follow h3{
    padding-left: 323px;
}
.codrop-section{
    background: #37517E;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.codrop-section h3{
    font-size: 14px;
    font-weight: 600;
    color: #ffffffa3;
    padding-top: 30px;
}
.codrop-section h3 i{
    padding-right: 8px;
    font-size: 16px;
}

.codrop-section img{
    width: 150px;
    margin-left: 170px;
}





@media(max-width: 1399px){
header {
    background-size: 600px;
}
.feature h1 {
    font-size: 30px;
}
.about-section {
    background-size: 600px;
}
.question-section h1 {
    font-size: 24px;
}
.subscription-section .heading h1 {
    margin-bottom: 0px;
}
.support h3 {
    font-size: 19px;
}
.support ul li {
    font-size: 13px;
}
.codrop-section h3 {
    font-size: 12px;
} 
}
@media(max-width: 1199px){
  header h1 {
    font-size: 30px;
    line-height: 1.5;
}
header p {
    margin: 15px 0;
    font-size: 15px;
}
.banner-container a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.banner-container a i{
    font-size: 30px !important;
}
.partnar-section .row div{
    padding: 2rem !important;
}
.feature h1 {
    font-size: 21px;
    margin-bottom: 20px;
}
.feature a {
    margin-top: 18px;
}
.about-section h1 {
    font-size: 28px;
}
.about-section {
    background-size: 500px;
}
.question-section ul li {
    font-size: 14px;
}
.question-section ul li i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
}
.question-section h1 {
    font-size: 20px;
}
.members-section h1 {
    font-size: 28px;
}
.heading p {
    line-height: 1.5;
}
.support.follow h3 {
    padding-left: 100px;
}
.support h3 {
    font-size: 18px;
}
.support ul li {
    font-size: 13px;
    font-weight: 500;
}
.codrop-section h3 {
    font-size: 12px;
    padding: 10px 0px;
}
.codrop-section img {
    width: 110px;
    margin-left: 170px;
}
}
@media(max-width: 991px){
 header {
    background-size: 450px;
}
.banner-container {
    padding: 100px 0px;
}
header h1 {
    font-size: 25px;
    line-height: 1.5;
}
header p {
    margin: 10px 0;
    font-size: 13px;
}
.partnar-section .row div {
    padding: 1rem !important;
}
.about-section h1 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about-section a {
    padding: 12px 0;
}
.question-section h1 {
    font-size: 21px;
    padding-top: 16px;
}
.members-section h1 {
    font-size: 24px;
}
.members-section ul {
    margin: 21px 0;
}
.members-section h1 {
    margin-bottom: 20px;
}
.members-section a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.price-tabel ul li {
    font-size: 15px;
}
.price-tabel ul li i {
    margin-right: 10px;
}
.price-heading {
    padding: 45px 20px;
}
.order-now {
    padding: 45px 20px;
}
.price-heading h1 {
    font-size: 50px;
}
.price-tabel ul li {
    padding: 8px 20px;
}
.price-tabel.active .price-heading {
    padding-top: 60px;
}
.heading h1 {
    font-size: 16px;
}
.heading p {
    font-size: 12px;
}
.support ul li {
    font-size: 15px;
}
.support.follow h3 {
    padding-left: 305px;
    padding-top: 14px;
}
.codrop-section img {
    width: 95px;
    margin-left: 150px;
}
}
@media(max-width: 767px){
  header {
    background-image: url();
}
.banner-container{
    text-align: center;
}
  header h1 {
    font-size: 40px;
}
.partnar-section .row div {
    padding: 1rem 10px !important;
}
.about-section {
    background-image: url();
}
.about-section h1 {
    font-size: 20px;
}
.about-section a {
    display: block;
    justify-content: center;
}
.justify-content-end {
    justify-content: center !important;
}
.question-section h1 {
    font-size: 24px;
}
.feature h2 {
    margin: 10px 0;
}
.order-now {
    margin-bottom: 40px;
}
.support.follow h3 {
    padding-left: 230px;
    padding-top: 0px;
}
.codrop-section img {
    margin-left: 1px;
}
}
@media(max-width: 575px){
 header h1{
    font-size: 30px;
}
header p {
    font-size: 10px;
    margin: 8px 0px;
}
.banner-container a{
    margin-bottom: 15px;
}
.banner-container{
    padding-top: 50px !important;
    padding-bottom: : 50px !important;
}
.feature{
    margin-bottom: 20px;
}
.feature.feature-padding{
    text-align: center;
}
.feature a{
    justify-content: center;
}
.about-section h1 {
    font-size: 32px;
    font-weight: 600;
}
.about-section a {
    padding: 8px !important;
    margin-right: 140px !important;
}
.members-section ul li h3 {
    padding-left: 40px;
}
.members-section ul li h4 {
    padding-left: 38px;
}
.members-section h1 {
    font-size: 30px;
}
.members-section a {
    margin-bottom: 20px;
}
.support.follow h3 {
    padding-left: 124px;
    margin-bottom: 10px;
}
.codrop-section h3 {
    padding: 0px 10px;
    margin-bottom: 0px;
}
.codrop-section img {
    margin-left: 30px;
}   
}